* {
    font-family: Microsoft JhengHei;
    color: white;
    font-size: 150%;
}

body {
    background: url("../img/bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html { 
    
}

.group_3 {
    width: 120%;
}

.group_4 {
    width: 400%;
}

.jothon {
    width: 250%;
}

/* Space App Challenge logo size */
.challenge {
    width: 20%;
}

.execute {
    width: 175%;
}

hr {
    border: 1px solid orange;
}